/* Variables */
$font-black: #0a0e1a;
$font-white: #f7fff7;
$bg-blue: #284b75;
$line-gray: #d8d8d8;
$border-radius: 3px;
$box-size: 38vw;
$phone: 576px;
$tablet: 768px;
$desktops: 992px;
$xlDesktop: 1200px;
