/* Animations */
@keyframes fadeUp {
  from {
    transform: translate(0, 2vh);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes scrollUp {
  to {
    transform: translate(0, 0);
  }
}

@keyframes scaleUp {
  to {
    transform: scaleX(1);
  }
}
