/* Base style document */
/* Imports */
@import "./variables", "./components", "./animations";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* Styles */
body {
  font-family: "Roboto", sans-serif;
  color: $font-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

main {
  min-height: 100vh;
}

.page {
  display: none;
}

.reduced-block {
  width: 60vw;
  margin: auto;

  .main-title {
    margin-bottom: 2vh;
  }
}

.reveal {
  opacity: 0;
}

.showing {
  @include fadeAppear(1s, 0.1s, 2vh);
}

.line {
  width: 90vw;
  height: 0.08rem;
  margin: 4vh auto 2.5vh auto;
  background-color: $line-gray;
}

footer {
  height: 10vh;
  min-height: 16px;
  padding: 1rem;
  margin-top: 2vh;

  .icons {
    @include flex-center(row);
    width: 100%;
    height: 100%;

    .icon {
      text-decoration: none;
      color: $font-white;
      font-size: 2rem;
      margin: 0 1rem;

      i {
        @include danceGrow(0.85s);
      }
    }
  }
}

/* General adaptations */
/* Medium devices (tablets, 768px and up) */
@media (max-width: $tablet) {
  .reduced-block {
    width: 70vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: $phone) {
  .reduced-block {
    width: 80vw;
  }
}
