@import "./variables", "./components";

/* Style */
.loader {
  font-family: serif;
  color: $font-white;

  @include flex-center(column);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* loding.io loader */
@mixin loader($size) {
  /* Sizing variables */
  $div-top: $size * 0.4125;
  $dim-div: $size * 0.1625;
  $div-child-12-L: $size * 0.1;
  $div-child-3-L: $size * 0.4;
  $div-child-4-L: $size * 0.7;
  $translate-ellip: $size * 0.3;

  /* Code */
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: $size;
    height: $size;
  }
  .lds-ellipsis div {
    position: absolute;
    top: $div-top;
    width: $dim-div;
    height: $dim-div;
    border-radius: 50%;
    background: $font-white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: $div-child-12-L;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: $div-child-12-L;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: $div-child-3-L;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: $div-child-4-L;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate($translate-ellip, 0);
    }
  }
}

/* Sizing */
/* Else */
@media (min-width: $xlDesktop) {
  @include loader(100px);
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $desktops) and (max-width: $xlDesktop) {
  @include loader(95px);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $tablet) and (max-width: $desktops) {
  @include loader(90px);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $phone) and (max-width: $tablet) {
  @include loader(85px);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: $phone) {
  @include loader(80px);
}
